{% extends 'partials/base.html.twig' %}

{% block title %}Nouveau tableau{% endblock %}

{% block bodystyle %}style="height: 100%"{% endblock %}

{% block body %}
    <div class="site-section" uk-height-viewport="offset-top:80px; offset-bottom:30px">

        <div class="uk-container uk-container-small  full-page">
            <div class="page-header">
                <h2>Nouveau tableau</h2>
            </div>

            {{ include('painting/_form.html.twig')}}
            <a class="uk-margin uk-button uk-button-secondary" href="{{ path('painting_index') }}">Retour au tableau de bord</a>

        </div>
    </div>
{% endblock %}