<form method="post" action="{{ path('comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer ce commentaire ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    <button class="uk-button uk-button-danger uk-margin-top"><i class="fas fa-trash-alt"></i></button>
</form>
