/*--  GENERAL  --*/
html{
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
}
p{
    font-size: 16px;
    color: #3e4c59;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}
.uk-navbar-nav>li>a, .uk-navbar-dropdown-nav>li>a, footer p, #home h2, #home a, .pace .pace-progress, .about-content a{
    color: #f5f7fa;
}
.uk-navbar-nav>li>a:active, .uk-navbar-nav>li>a:focus, .uk-navbar-nav>li>a:hover, .uk-navbar-dropdown-nav>li>a:hover,
.uk-navbar-dropdown-nav>li>a:focus, .uk-navbar-nav>li:hover>a, .uk-navbar-nav>li>a.uk-open{
    color: #cbd2d9;
}
.about-title h3, .gallery-nav ul .uk-active a, .gallery-nav ul .gallery-nav .uk-nav-default>li>a:focus,
.gallery-nav .uk-nav-default>li>a:hover, .gallery-text h2, .about-content a:hover{
    color: #035388;
}



.full-page-img {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: -80px;
    margin-bottom: -35px;
}

    /*-- PACE (Loading)  --*/
#page_overlay {
    background-color: #323f4b;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.pace {
    z-index: 99999;
}
.pace .pace-progress {
    line-height: 60px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    background: #e8eff6;
    -webkit-box-shadow: 120px 0 #323f4b, 240px 0 #323f4b;
    -ms-box-shadow: 120px 0 #323f4b,240px 0 #323f4b;
    box-shadow: 120px 0 #323f4b, 240px 0 #323f4b;
}
.pace .pace-activity {
    box-shadow: inset 0 0 0 2px #e8eff6, inset 0 0 0 7px #323f4b;
}

/*--  HEADER  --*/

.uk-logo img{
    height: 70px;
    width: auto;
}
    /*--  NAV  --*/
        /*--  GENERAL  --*/

.uk-navbar-container:not(.uk-navbar-transparent) {
    background-color: #323f4b;
}
.uk-navbar-dropdown{
    background-color: #1f2933;
    width: 235px;
    z-index: 9999;
}
.uk-navbar-nav>li>a{
    font-size: 36px;
    padding-left: 36px;
}

@media screen and (max-width: 640px) {
    .uk-navbar-nav>li>a{
        font-size: 24px;
        padding-left: 24px;
    }
    .uk-navbar-dropdown{
        width: 100%;
    }
}

        /*--  MAIN NAV  --*/
.main-nav a{
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
.main-nav i{
    margin-right: 18px;
}

        /*--  LEGALS NAV --*/
.legals-nav{
    padding: 12px 0 !important;
}
.legals-nav a{
    font-size: 12px;
    text-decoration: underline !important;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

/*--  FOOTER  --*/
footer{
    bottom: 0;
    left:0;
    right:0;
    width: 100%;
    height: 35px;
    background-color: #1f2933;
}
footer p{
    text-align: center;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    padding: 8px 0;
    margin-block-end: 0;
}
footer.transparent{
    background-color: transparent;
}

/*--  HOME  --*/
#home h2 {
    font-size: 48px;
    font-family: "EB Garamond", serif;
    font-weight: 600;
    font-style: italic;

}
#home .uk-button-default{
    border: none;
    border-radius: 6px;
    background-color: #127fbf;
}
#home a.uk-button-default:hover{
    background-color: #0b69a3;
}
#home a{
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    padding: 18px 36px;
    text-transform: uppercase;
}

    /*--  for mobile  --*/
@media screen and (max-width: 640px) {
    #home h2 {
        font-size: 30px;
    }
    #home a{
        font-size: 18px;
        padding: 14px 24px;
    }
}

/*--  Gallery  --*/
#gallery{
    padding-bottom: 18px;
    background-color: #f5f7fa;
}
.gallery-text h2{
    text-transform: uppercase;
    font-size: 36px;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
}
@media screen and (max-width: 640px) {
    .gallery-text p {
        font-size: 14px;
    }
    .gallery-text h2{
        font-size: 30px;
    }
}

.gallery-text{
    padding: 18px 12px 0 ;
}
img.painting{
    box-shadow: 3px 3px 3px -3px #52606d;
}
    /*-- NAV  --*/
.gallery-nav{
    margin-top: 72px;
    z-index: 0;
}
.gallery-nav ul a{
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    letter-spacing: -1.5px;
    padding: 0 0 0 36px;
    line-height: 1.3em;
    border-bottom: 2px solid #0b69a3;
    width: 55px;
    color : #0b69a3;
    text-shadow: #52606d 1px 1px 3px;
    box-shadow: 0 3px 3px -3px #52606d;
}
.gallery-nav ul .uk-active a, .gallery-nav ul .gallery-nav .uk-nav-default>li>a:focus, .gallery-nav .uk-nav-default>li>a:hover{
    font-size: 48px;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    line-height: 1em;
    width: 115px;
    border-bottom: 2px solid #035388;
}
.year-divider{
    border-bottom: 5px solid #cbd2d9;
    margin: 18px 0 ;
}
        /*--  for mobile  --*/
@media screen and (max-width: 959px) {
    .gallery-nav{
        margin-top: 0;
    }
    .gallery-nav ul a{
        font-size: 18px;
        line-height: 1em;
        border-bottom: none;
        width: auto;
        color : #e8eff6;
        padding-left: 6px;
        text-shadow: none;
        box-shadow: none;
}
    .gallery-nav ul .uk-active a, .gallery-nav ul .gallery-nav .uk-nav-default>li>a:focus, .gallery-nav .uk-nav-default>li>a:hover{
        font-size: 30px;
        width: 65px;
        width: auto;
        color : #cbd2d9;
        border-bottom: none;

    }
}


    /*--  PAINTING  --*/
.painting-overlay{
    background-color: rgba(3,83,136,0.7);
    backdrop-filter: grayscale(1) contrast(3) blur(1px)
}
/*.painting-container{*/
/*    padding: 0 18px;*/
/*}*/
.painting-container h3{
    font-size: 30px;
    font-family: "EB Garamond", serif;
    font-weight: 800;
    text-transform: uppercase;
    color: #e4eef6;
}

/*--  ABOUT --*/
#about{
    background-color: #f5f7fa
}
.about-title h3{
    font-size: 30px;
    font-family: "EB Garamond", serif;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
    line-height: 1em;
}
.about-title h4{
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    margin: 0;
    line-height: 1em;
    color: #127fbf;
}
.about-content a{
    font-size: 24px;
}
.circle-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    padding: 8px;
    background-color: #035388;
}
a:hover>i.circle-icon{
    border: 1px solid #035388;
    background-color: transparent;
}
.about-content{
    max-width: 550px;
    margin: 80px 24px 0;
}
.about-content p{
    text-align: justify;
}
@media screen and (max-width: 640px) {
    .about-content p {
        font-size: 14px;
    }
}
.about-content li, .about-content li a{
    display: inline-block;
}
@media screen and (max-width: 1200px) {
    .about-content{
        max-width: 100%;
        margin-top: 36px
    }
    .about-container{
        padding-bottom: 36px;
    }
}

/*--  LEGALS  --*/
#legals{
    margin: 40px auto;
    font-family: "Open Sans", sans-serif;
}
#legals strong{
    font-weight: 400;
}
#legals h3{
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
}
#legals h4 strong{
    font-size: 24px;
    font-weight: 600;
}



