/*--  GENERAL  --*/
html{
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
}
.full-page-img {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: -80px;
    margin-bottom: -35px;
}

    /*-- PACE (Loading)  --*/
#page_overlay {
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #323f4b;
}
.pace {
    z-index: 99999;
}
.pace .pace-progress {
    background: #e8eff6;
    color: #e8eff6;
    line-height: 60px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    -webkit-box-shadow: 120px 0 #fff, 240px 0 #323f4b;
    -ms-box-shadow: 120px 0 #fff,240px 0 #323f4b;
    box-shadow: 120px 0 #fff, 240px 0 #323f4b;
}
.pace .pace-activity {
    box-shadow: inset 0 0 0 2px #e8eff6, inset 0 0 0 7px #323f4b;
}

/*--  HEADER  --*/
.uk-navbar-container:not(.uk-navbar-transparent){
    background-color: #323f4b;
}

    /*--  NAV  --*/
        /*--  GENERAL  --*/
.uk-navbar-dropdown{
    background-color: #1f2933;
    width: 235px;
    z-index: 9999;
}
.uk-navbar-nav>li>a{
    font-size: 36px;
    padding-left: 36px;
}
.uk-navbar-nav>li>a, .uk-navbar-dropdown-nav>li>a{
    color: #e8eff6;
}
.uk-navbar-nav>li>a:active, .uk-navbar-nav>li>a:focus, .uk-navbar-nav>li>a:hover, .uk-navbar-dropdown-nav>li>a:hover, .uk-navbar-dropdown-nav>li>a:focus{
    color: #cbd2d9;
}

        /*--  MAIN NAV  --*/
.main-nav a{
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
.main-nav i{
    margin-right: 18px;
}

        /*--  SOCIAL NAV  --*/
.social-nav{
    width:164px;
    margin: 0 auto;
    padding: 16px 0
}
.social-nav a{
    font-size: 24px;
    margin: 0 16px;
}
.social-nav li, .social-nav li a{
    display: inline;
}

        /*--  LEGALS NAV --*/
.legals-nav{
    padding-bottom: 12px !important;
}
.legals-nav a{
    font-size: 12px;
    text-decoration: underline !important;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

/*--  FOOTER  --*/
footer{
    bottom: 0;
    left:0;
    right:0;
    background-color: #1f2933;
    width: 100%;
    height: 35px;
}
footer.transparent{
    background-color: transparent;
}
footer p{
    text-align: center;
    color: #e8eff6;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    padding: 8px 0;
    margin-block-end: 0;
}

/*--  HOME  --*/
#home h2 {
    color: #e8eff6;
    font-size: 48px;
    font-family: "EB Garamond", serif;
    font-weight: 600;
    font-style: italic;

}
#home .uk-button-default{
    background-color: #127fbf;
    border: none;
    border-radius: 6px;
}
#home a{
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    padding: 18px 36px;
    color: #e8eff6;
    text-transform: uppercase;
}
#home a.uk-button-default:hover{
    background-color: #0b69a3;
}

    /*--  for mobile  --*/
@media screen and (max-width: 640px) {
    #home h2 {
        font-size: 30px;
    }
    #home a{
        font-size: 18px;
        padding: 14px 24px;
    }
}

/*--  Gallery  --*/
#gallery{
    background-color: #e8eff6;
}
    /*-- NAV  --*/
.gallery-nav{
    margin-top: 72px;
    z-index: 0;
}
.gallery-nav ul a{
     font-size: 24px;
     font-family: "Open Sans", sans-serif;
     font-weight: 400;
     letter-spacing: -1.5px;
     color : #0b69a3;
     text-shadow: #52606d 1px 1px 3px;
     padding: 0 0 0 36px;
     line-height: 1.3em;
     border-bottom: 1px solid #0b69a3;
     width: 55px;
     box-shadow: 0 3px 3px -3px #52606d;
}
.gallery-nav ul .uk-active a, .gallery-nav ul .gallery-nav .uk-nav-default>li>a:focus, .gallery-nav .uk-nav-default>li>a:hover{
    font-size: 48px;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    color : #035388;
    line-height: 1em;
    border-bottom: 1px solid #035388;
    width: 115px;
}
        /*--  for mobile  --*/
@media screen and (max-width: 640px) {
    .gallery-nav ul a{
        font-size: 18px;
        width: 40px;
        padding: 0 0 0 12px;
}
    .gallery-nav ul .uk-active a, .gallery-nav ul .gallery-nav .uk-nav-default>li>a:focus, .gallery-nav .uk-nav-default>li>a:hover{
        font-size: 30px;
        width: 65px;

    }
}


    /*--  PAINTING  --*/
.painting{
    margin-top: 18px !important;
}
.painting-overlay{
    background-color: rgba(3,83,136,0.7);
    backdrop-filter: grayscale(1) contrast(3) blur(1px)
}
.painting-container h3{
    font-size: 30px;
    font-family: "EB Garamond", serif;
    font-weight: 800;
    text-transform: uppercase;
    color: #e4eef6;
}

/*--  ABOUT --*/
.about-title h3{
    font-size: 30px;
    font-family: "EB Garamond", serif;
    font-weight: 600;
    color: #035388;
    margin: 0;
    text-transform: uppercase;
    line-height: 1em;
}
.about-title h4{
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    color: #127fbf;
    margin: 0;
    line-height: 1em;
}
.about-content ul a{
    color: #e4eef6;
    font-size: 24px;
}
.circle-icon {
    background: #035388;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    padding: 8px;
}
.about-content{
    max-width: 550px;
    margin: 80px 24px 0;
}
.about-content p{
    color: #3e4c59;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    text-align: justify;

}
.about-content li, .about-content li a{
    display: inline-block;
}


