/*--  GENERAL  --*/
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

p, label {
    font-size: 16px !important;
    color: #3e4c59 !important;
    font-weight: 300;
}
.transparent {
    background-color: transparent;
}

.page-header {
    padding: 24px 12px;
    text-align: center;
}

.page-header h2 {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 800;
    color: #035388;
}

.slogan {
    font-size: 48px;
    font-family: "EB Garamond", serif;
    font-weight: 600;
    font-style: italic;
    color: #f5f7fa;
}

.uk-button-default {
    border: none;
    border-radius: 6px;
    background-color: #127fbf;
    font-size: 24px;
    padding: 18px 36px;
    text-transform: uppercase;
    color: #f5f7fa;
}

a.uk-button-default:hover, button.uk-button-default:hover, .uk-button-default:active {
    background-color: #0b69a3;
    color: #f5f7fa;
}

.divider {
    border-bottom: 5px solid #cbd2d9;
    margin: 18px 0;
}

.site-section {
    padding-bottom: 18px;
    background-color: #f5f7fa;
}

.circle-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    padding: 8px;
    background-color: #035388;
}
.serif{
    font-family: "EB Garamond", serif;
}

@media screen and (max-width: 640px) {
    .page-header h2 {
        font-size: 30px;
    }

    p, label {
        font-size: 14px;
    }

    .slogan {
        font-size: 30px;
    }

    .uk-button-default {
        font-size: 18px;
        padding: 14px 24px;
    }
}

/*-- PACE (Loading)  --*/
#page_overlay {
    background-color: #323f4b;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pace {
    z-index: 99999;
}

.pace .pace-progress {
    line-height: 60px;
    font-weight: 700;
    background: #e8eff6;
    -webkit-box-shadow: 120px 0 #323f4b, 240px 0 #323f4b;
    -ms-box-shadow: 120px 0 #323f4b, 240px 0 #323f4b;
    box-shadow: 120px 0 #323f4b, 240px 0 #323f4b;
    color: #f5f7fa;
}

.pace .pace-activity {
    box-shadow: inset 0 0 0 2px #e8eff6, inset 0 0 0 7px #323f4b;
}

/*--  HEADER  --*/

.uk-logo img {
    height: 70px;
    width: auto;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background-color: #323f4b;
}


/*--  NAV  --*/
.uk-navbar-dropdown {
    background-color: #1f2933;
    width: 235px;
    z-index: 9999;
}

.uk-navbar-nav > li > a {
    font-size: 36px;
    padding-left: 36px;
    color: #f5f7fa;
}

.uk-navbar-dropdown-nav > li > a {
    color: #f5f7fa;
    font-size: 18px;
    font-weight: 600;
}

.uk-navbar-dropdown-nav i {
    margin-right: 18px;
}

.uk-navbar-nav > li > a:active, .uk-navbar-nav > li > a:focus, .uk-navbar-nav > li > a:hover, .uk-navbar-dropdown-nav > li > a:hover,
.uk-navbar-dropdown-nav > li > a:focus, .uk-navbar-nav > li:hover > a, .uk-navbar-nav > li > a.uk-open {
    color: #cbd2d9;
}

.legals-nav {
    padding: 12px 0 !important;
}

.legals-nav a {
    font-size: 12px !important;
    text-decoration: underline !important;
    font-weight: 300 !important;
}

@media screen and (max-width: 640px) {
    .uk-navbar-dropdown {
        width: 100%;
    }

    .uk-navbar-nav > li > a {
        font-size: 24px;
        padding-left: 24px;
    }
}

/*--  FOOTER  --*/
footer {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 35px;
    background-color: #1f2933;
}

footer p {
    text-align: center;
    font-size: 12px !important;
    padding: 8px 0;
    margin-block-end: 0;
    color: #f5f7fa !important;
}

/*--  FULL PAGE --*/
.full-page{
    height: 100%;
}
.full-page-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: -80px;
    margin-bottom: -35px;
}
@media screen and (max-width: 959px) {
    .full-page-img {
        background-position: left;
    }
}
.full-page-img-container h3 {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
    line-height: 1em;
    color: #035388;
}

.full-page-img-container h4 {
    font-size: 30px;
    font-style: italic;
    margin: 0;
    line-height: 1em;
    color: #127fbf;
}

.full-page-img-container a {
    font-size: 24px;
    color: #f5f7fa;
}

.full-page-img-container a:hover {
    color: #035388;
}

.full-page-img-container a:hover > i.circle-icon {
    border: 1px solid #035388;
    background-color: transparent;
}

.full-page-img-content {
    max-width: 550px;
    margin: 80px 24px 0;
}

.full-page-img p {
    text-align: justify;
}

@media screen and (max-width: 640px) {
    .full-page-img-container p {
        font-size: 14px;
    }
}

.full-page-img-container li, .full-page-img-container li a {
    display: inline-block;
}

@media screen and (max-width: 1200px) {
    .full-page-img-content {
        max-width: 100%;
        margin-top: 36px
    }

    .full-page-img-container {
        padding-bottom: 36px;
    }
}


/*-- GALLERY NAV  --*/
.gallery-nav {
    margin-top: 72px;
    z-index: 0;
}

.gallery-nav ul a {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -1.5px;
    padding: 0 0 0 36px;
    line-height: 1.3em;
    border-bottom: 2px solid #0b69a3;
    width: 55px;
    color: #0b69a3;
    text-shadow: #52606d 1px 1px 3px;
    box-shadow: 0 3px 3px -3px #52606d;
}

.gallery-nav ul .uk-active a, .gallery-nav .uk-nav-default > li > a:focus, .gallery-nav .uk-nav-default > li > a:hover {
    font-size: 48px;
    font-weight: 800;
    line-height: 1em;
    width: 115px;
    border-bottom: 2px solid #035388;
    color: #035388;
}

@media screen and (max-width: 959px) {
    .gallery-nav {
        margin-top: 0;
    }

    .gallery-nav ul a {
        font-size: 18px;
        line-height: 1em;
        border-bottom: none;
        width: auto;
        color: #e8eff6;
        padding-left: 6px;
        text-shadow: none;
        box-shadow: none;
    }

    .gallery-nav ul .uk-active a, .gallery-nav ul .gallery-nav .uk-nav-default > li > a:focus, .gallery-nav .uk-nav-default > li > a:hover {
        font-size: 30px;
        width: 65px;
        width: auto;
        color: #cbd2d9;
        border-bottom: none;
    }
}

/*--  PAINTING  --*/
img.painting {
    box-shadow: 3px 3px 3px -3px #52606d;
}

.uk-overlay {
    background-color: rgba(3, 83, 136, 0.7);
    backdrop-filter: grayscale(1) contrast(3) blur(1px)
}

.uk-overlay h3 {
    font-size: 30px;
    font-family: "EB Garamond", serif;
    font-weight: 800;
    text-transform: uppercase;
    color: #e4eef6;
}


/*--  LEGALS  --*/
#legals {
    margin: 40px auto;
}

#legals strong {
    font-weight: 400;
}

#legals h3 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
}

#legals h4 strong {
    font-size: 24px;
    font-weight: 600;
}



