{% extends 'partials/base-footer-transparent.html.twig' %}

{% block title %}A propos de moi{% endblock %}

{% block body %}

    <div id="home" data-src="imgs/home_bg.jpg" uk-img class="full-page-img">
        <div class="uk-position-center uk-text-center">
            <h2>A propos de moi<br></h2>
        </div>
    </div>

{% endblock %}
