{% extends 'partials/base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block bodystyle %}style="height: 100%"{% endblock %}

{% block body %}

    <div data-src="imgs/home_bg.jpg" uk-img class="full-page full-page-img">
        <div class="uk-position-center uk-text-center">
            <h2 class="slogan">I paint my feelings on canvas.<br>
            It feels good.</h2>
            <a class="uk-button uk-button-default" href="{{ path('gallery') }}">Mes oeuvres</a>
        </div>
    </div>

{% endblock %}

{% block footerstyle %}class="transparent"{% endblock %}
