{% extends 'partials/base.html.twig' %}

{% block title %}À propos de moi{% endblock %}

{% block bodystyle %}style="height: 100%"{% endblock %}

{% block body %}

    <div data-src="imgs/workshop_bg.jpg" uk-img class="uk-visible@l full-page full-page-img">
        <div class="uk-width-1-2 uk-position-center-right uk-flex uk-flex-center full-page-img-container">
            <div class="full-page-img-content">
                <div class="uk-flex uk-flex-middle" uk-grid>
                    <div class="uk-width-expand">
                        <h3>Mon atelier</h3>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus congue blandit nunc, a pulvinar
                    felis
                    finibus a. Donec sed fringilla nibh. Integer justo dolor, feugiat sed elit non, sagittis viverra
                    nulla.
                    Nunc eget odio purus. Nunc dapibus enim non maximus iaculis. Integer commodo at enim sit amet
                    accumsan.
                    Mauris ut condimentum ex. Etiam sed ante et purus suscipit gravida eget at leo. Sed quis nulla ac
                    tellus
                    cursus gravida. Pellentesque sit amet leo diam. Cras rutrum lacinia dolor. Morbi placerat porttitor
                    sapien,
                    eget bibendum diam feugiat et. Aenean ornare interdum eros, consectetur semper libero cursus et. In
                    gravida
                    tempus iaculis. Etiam in nulla et urna sollicitudin blandit. Praesent maximus ultrices leo quis
                    porta.
                </p>
                <p>
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras
                    porta
                    quam eget lorem tincidunt, ut fringilla quam tempor. Curabitur fermentum consequat sem, non iaculis
                    elit.
                    Maecenas euismod diam consequat odio tincidunt condimentum eu ac nulla. Curabitur scelerisque in
                    mauris
                    vitae venenatis. Nam accumsan ex sed leo tincidunt, ut ornare justo congue. Donec consectetur nisl
                    eu ante
                    suscipit, non molestie odio malesuada. Aliquam laoreet molestie sem, eget euismod neque euismod at.
                    In
                    rhoncus ipsum eget quam maximus, ut lacinia eros luctus. Nam vitae urna auctor tortor dictum
                    pulvinar quis
                    et felis.
                </p>
            </div>
        </div>
    </div>
    <div class="uk-hidden@l site-section">
        <img data-src="imgs/workshop_bg.jpg" uk-img>
        <div class="full-page-img-container uk-flex uk-flex-center">
            <div class="full-page-img-content">
                <div class="uk-flex uk-flex-middle" uk-grid>
                    <div class="uk-width-expand">
                        <h3>Mon atelier</h3>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus congue blandit nunc, a pulvinar
                    felis
                    finibus a. Donec sed fringilla nibh. Integer justo dolor, feugiat sed elit non, sagittis viverra
                    nulla.
                    Nunc eget odio purus. Nunc dapibus enim non maximus iaculis. Integer commodo at enim sit amet
                    accumsan.
                    Mauris ut condimentum ex. Etiam sed ante et purus suscipit gravida eget at leo. Sed quis nulla ac
                    tellus
                    cursus gravida. Pellentesque sit amet leo diam. Cras rutrum lacinia dolor. Morbi placerat porttitor
                    sapien,
                    eget bibendum diam feugiat et. Aenean ornare interdum eros, consectetur semper libero cursus et. In
                    gravida
                    tempus iaculis. Etiam in nulla et urna sollicitudin blandit. Praesent maximus ultrices leo quis
                    porta.
                </p>
                <p>
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras
                    porta
                    quam eget lorem tincidunt, ut fringilla quam tempor. Curabitur fermentum consequat sem, non iaculis
                    elit.
                    Maecenas euismod diam consequat odio tincidunt condimentum eu ac nulla. Curabitur scelerisque in
                    mauris
                    vitae venenatis. Nam accumsan ex sed leo tincidunt, ut ornare justo congue. Donec consectetur nisl
                    eu ante
                    suscipit, non molestie odio malesuada. Aliquam laoreet molestie sem, eget euismod neque euismod at.
                    In
                    rhoncus ipsum eget quam maximus, ut lacinia eros luctus. Nam vitae urna auctor tortor dictum
                    pulvinar quis
                    et felis.
                </p>
            </div>
        </div>
    </div>


{% endblock %}
